body {
   
    font-family: sans-serif;
}
header{
    background-color:rgb(251, 255, 0);
    padding:10px;
    border-radius: 30px;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}

.h1 {
    background-color: #FAB608;
}

